<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 04</title>
    <link rel="stylesheet" href="../src/css/page-04.css">
</head>
<body>
    <div class="img">
        <img src="../src/storage/img/p4-img-01.png">
    </div>
    <div class="div__rigth">
        <div class="div__top">
            <div class="div__top__text">
                <h1>Exploration and inspiration</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.  </p>
                <a href="#" class="div__top__btn">Explore</a>
            </div>
        </div>
        <div class="div__bottom">
            <div class="div__bottom__text1">
                <p>01</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
            <div class="div__bottom__text2">
                <p>01</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            </div>
        </div>
    </div>
</body>
</html>