<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 05</title>
    <link rel="stylesheet" href="../src/css/page-05.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Projects and</h1>
            <h1>practice</h1>
        </div>
    </header>
    <main>
        <div class="div1">
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/p5-img-1.png" alt="img-1">
        </div>
        <div class="div2">
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/p5-img-2.png" alt="img-2">
        </div>
        <div class="div3">
            <p>01</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <img src="../src/storage/img/p5-img-3.png" alt="img-3">
        </div>
    </main>
</body>
</html>