<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 07</title>
    <link rel="stylesheet" href="../src/css/page-07.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Design is the way how </h1>
            <h1>you express the feelings</h1>
        </div>
    </header>
    <main>
        <div class="contain">
            <div class="contain__title">
                <p>01</p>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
                <img src="../src/storage/img/p7-img-1.jpg" alt="img-1">
            </div>
            <div class="contain__textimg">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Faucibus in libero risus</p>
            </div>
        </div>
        <div class="contain">
            <div class="contain__title">
                <p>02</p>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
                <img src="../src/storage/img/p7-img-2.jpg" alt="img-2">
            </div>
            <div class="contain__textimg">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Faucibus in libero risus</p>
            </div>
        </div>
        <div class="contain">
            <div class="contain__title">
                <p>03</p>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
                <img src="../src/storage/img/p7-img-3.jpg" alt="img-3">
            </div>
            <div class="contain__textimg">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Faucibus in libero risus</p>
            </div>
        </div>
        <div class="contain">
            <div class="contain__title">
                <p>04</p>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.</p>
                <img src="../src/storage/img/p7-img-4.jpg" alt="img-4">
            </div>
            <div class="contain__textimg">
                <h3>Title</h3>
                <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit.<br>Faucibus in libero risus</p>
            </div>
        </div>
    </main>
</body>
</html>