<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-01</title>
    <link rel="stylesheet" href="../src/css/page-01.css">
</head>
<body>
    <div class="header">
        <div class="header__container">
        <h1>Discover the beauty<br>around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br>elit. Faucibus in libero risus semper habitant arcu<br>eget. Et integer facilisi eget diam.</p>
        <a href="#">Explore</a>
        </div>
    </div>
    <div class="images">
        <img src="../src/storage/img/p1-img-1.jpg" alt="img-1">
        <img src="../src/storage/img/p1-img-2.jpg" alt="img-2">
        <img src="../src/storage/img/p1-img-3.jpg" alt="img-3">
        <img src="../src/storage/img/p1-img-4.jpg" alt="img-4">
        <img src="../src/storage/img/p1-img-5.jpg" alt="img-5">
        <img src="../src/storage/img/p1-img-6.jpg" alt="img-6">
        <img src="../src/storage/img/p1-img-7.jpg" alt="img-7">
        <img src="../src/storage/img/p1-img-8.jpg" alt="img-8">
    </div>
</body>
</html>