@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    padding: 64px;
}
header{
    display: flex;
    padding-bottom: 69px;
}
.title{
    /* width: 58vw; */
}
.title h1{
    font-family: "AvenirLTStd-Heavy";
    font-size: 88px;
    color: var(--color-1);
    line-height: 104px;
}
main{
    display: flex;
    gap: 56px;
}
.div1{
    display: flex;
    flex-direction: column;
}
.div1 p{

}
.div1 p:nth-child(1){
    font-family: "AvenirLTStd-Heavy";
    font-size: 32px;
    color: var(--color-5);
    padding-bottom: 4px;
}
.div1 p:nth-child(2){
    font-family: "AvenirLTStd-Roman";
    font-size: 24px;
    color: var(--color-2);
    padding: 24px;
}
.div1 img{
    object-fit: contain;
}
.div2{
    display: flex;
    flex-direction: column;
}
.div2 p{

}
.div2 p:nth-child(1){
    font-family: "AvenirLTStd-Heavy";
    font-size: 32px;
    color: var(--color-5);
    padding-bottom: 4px;
}
.div2 p:nth-child(2){
    font-family: "AvenirLTStd-Roman";
    font-size: 24px;
    color: var(--color-2);
    padding: 24px;
}
.div2 img{
    object-fit: contain;
}
.div3{
    display: flex;
    flex-direction: column;
}
.div3 p{

}
.div3 p:nth-child(1){
    font-family: "AvenirLTStd-Heavy";
    font-size: 32px;
    color: var(--color-5);
    padding-bottom: 4px;
}
.div3 p:nth-child(2){
    font-family: "AvenirLTStd-Roman";
    font-size: 24px;
    color: var(--color-2);
    padding: 24px;
}
.div3 img{
    object-fit: contain;
}